/algorithm BACKUP 12-06-23.py
/algorithmBACKUP.py
/Figure_1.png
/Figure_2.png
/locator.py
/newtests.py
/output.png
/Simplified Keystone Faults.xlsx
/slider plotting.py
/testReport.tex
/tests BF1 H2.py
/wavelet example.png
/__pycache__