/algorithm BACKUP 12-06-23.py
/algorithmBACKUP.py
/Figure_1.png
/Figure_2.png
/locator.py
/newtests.py
/output.png
/Simplified Keystone Faults.xlsx
/slider plotting.py
/testReport.tex
/tests BF1 H2.py
/wavelet example.png
/__pycache__
plotoutput.png
resampling/0.png
resampling/1.png
resampling/2.png
resampling/3.png
resampling/4.png
resampling/5.png
resampling/6.png
resampling/7.png
resampling/8.png
resampling/9.png
resampling/10.png
resampling/11.png
resampling/12.png
resampling/13.png
resampling/14.png
resampling/15.png
resampling/16.png
resampling/17.png
resampling/18.png
resampling/19.png
resampling/20.png
resampling/21.png
resampling/22.png
resampling/23.png
resampling/24.png
resampling/25.png
resampling/26.png
resampling/27.png
resampling/28.png
resampling/29.png
resampling/30.png
resampling/31.png
resampling/32.png
resampling/33.png
resampling/34.png
resampling/35.png
resampling/36.png
resampling/37.png
resampling/38.png
resampling/39.png
resampling/40.png
resampling/41.png
resampling/42.png
resampling/43.png
resampling/44.png
resampling/45.png
resampling/46.png
resampling/47.png
resampling/48.png
resampling/49.png
resampling/50.png
resampling/51.png
resampling/52.png
resampling/53.png
resampling/54.png
resampling/55.png
resampling/56.png
resampling/57.png
resampling/58.png
resampling/59.png
resampling/60.png
resampling/61.png
resampling/62.png
resampling/63.png
resampling/64.png
resampling/65.png
resampling/66.png
resampling/67.png
resampling/68.png
resampling/69.png
resampling/70.png
resampling/71.png
resampling/72.png
resampling/73.png
resampling/74.png
resampling/75.png
resampling/76.png
resampling/77.png
resampling/78.png
resampling/79.png
resampling/80.png
resampling/81.png
resampling/82.png
resampling/83.png
resampling/84.png
resampling/85.png
resampling/86.png
resampling/87.png
resampling/88.png
resampling/89.png
resampling/90.png
resampling/91.png
resampling/92.png
resampling/93.png
resampling/94.png
resampling/95.png
resampling/96.png
resampling/97.png
resampling/98.png
resampling/99.png
resampling/100.png
resampling/101.png
resampling/102.png
resampling/103.png
resampling/104.png
resampling/105.png
resampling/106.png
resampling/107.png
resampling/108.png
resampling/109.png
resampling/110.png
resampling/111.png
resampling/112.png
resampling/113.png
resampling/114.png
resampling/115.png
resampling/116.png
resampling/117.png
resampling/118.png
resampling/119.png
resampling/120.png
resampling/121.png
resampling/122.png
resampling/123.png
resampling/124.png
resampling/125.png
resampling/resampling0.png
resampling/resampling1.png
resampling/resampling2.png
resampling/resampling3.png
resampling/resampling4.png
resampling/resampling5.png
resampling/resampling6.png
resampling/resampling7.png
resampling/resampling8.png
resampling/resampling9.png
resampling/resampling10.png
resampling/resampling11.png
resampling/resampling12.png
resampling/resampling13.png
resampling/resampling14.png
resampling0.png
resampling1.png
resampling2.png
resampling3.png
resampling4.png
resampling5.png
resampling6.png
resampling7.png
resampling8.png
resampling9.png
resampling10.png
resampling11.png
resampling12.png
resampling13.png
resampling14.png
